@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap");
@import url("./reset.css");

:root {
  --color-dark: #060a3d;
  --color-light: #ffffff;
  --color-detail: #00b58c;
  --color-green-button: #0da181;
  --color-yellow-button: #ccbf46;
  --color-purple-button: #7179dc;
  --color-greeting: rgba(0, 0, 0, 0.5);
  --color-gradient: linear-gradient(
    274.12deg,
    #060a3d 3.52%,
    #055444 3.53%,
    #00b58c 85%
  );
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
